/Build/
/Configuration/Development/Settings.yaml.example
/Configuration/Development/PackageStates.php
/Configuration/Production/Settings.yaml.example
/Configuration/README
/Configuration/Testing/Settings.yaml
/Configuration/PackageStates.php
/Data/
/Packages/Libraries/
/Packages/Framework/
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/Packages/Application/Newsfix.Core/Resources/Public/css/build
/Packages/Application/Newsfix.Core/Resources/Public/js/build