#top {
	background-color: #E25F39;
    position: fixed;
	height: 35px;
    right: 0;
    left: 0;
    top: 0;

	#logo {
		float: left;
		color: white;
		font-size: 22px;
		line-height: 35px;
		padding-left: 10px;
		width: 230px;
		font-family: "Futura Light", 'Gill Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size-adjust: 0.46;
		font-weight: 200;
		font-style: normal;
        a, a:hover {
            color: white;
            text-decoration: none;
        }

		img {
			display: block;
			float: left;
			height: 20px;
			width: auto;
			padding: 7px 5px 0 0;
		}
	}

	#upgrade {
        float: right;
        margin-top: 7px;
        a {
            color: white;
            padding-right: 15px;
            padding-left: 2px;
        }
        #upgradeIcon {
            margin-top: -4px;
        }
    }
}

#filterBar {
    background-color: #222;
    font-size: 13px;
    position: fixed;
   	height: 39px;
    right: 200px;
    left: 170px;
    top: 35px;

    #search {
        border-radius: 10px;
        padding: 0 5px;
        line-height: 14px;
        font-size: 12px;
        margin: 9px 30px;
    }
    a {
        color: #666;
    }
    ul {
        margin: 10px 20px 0 20px;
        list-style: none;
        float: right;
    }
    li {
        margin-right: 30px;
        float: left;
    }

}