#sidebar-left {
	position: fixed;
	left: 0;
	top: 35px;
	bottom: 0;
	width: 170px;
	float: left;
	background-color: #52504D;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
        text-shadow: 0 0 1px #151515;
		font-size: 13px;
		line-height: 34px;

		list-style: none;
		display: block;
		padding-left: 10px;

        img {
            margin-top: -4px;
            margin-right: 6px;
        }

		&.act {
			background-color: #42403E;
		}

        &:hover {
            background-color: #151515;
        }
        border-top: 1px solid #666;
        border-bottom: 1px solid #444;
	}

	a, a:hover {
		color: #F3F3F3;
        text-decoration: none;
	}

    #extraInfo {
        display: none;
        height: 300px;
        width: 150px;
        background-color: #42403D;
        border-top: 1px solid #666;
        position: fixed;
        left: 0;
        bottom: 0;
        text-shadow: 0 0 1px #151515;
        color: white;
        padding: 0 10px 10px 10px;
        h3 {
            font-size: 14px;
            margin: 0;
        }
        #twitter {
            margin: 0;
            li {
                padding: 5px 0;
                line-height: 14px;
                border: 0;
                border-bottom: 1px solid #555;
                span {
                    color: #999;
                }
            }
        }
    }
}

#sidebar-right {
	position: fixed;
	right: 0;
	top: 35px;
	bottom: 0;
	width: 220px;
	float: left;
	background-color: #52504D;

    h3 {
        font-size: 16px;
        line-height: 38px;
        background-color: #42403D;
        color: white;
        margin: 0;
        padding: 0 10px;
        text-shadow: 0 0 1px #151515;
    }

    #socialFeedHolder {
        overflow: auto;
        position: fixed;
        float: left;
        bottom: 0;
        top: 73px;
    }

	#socialFeed {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
        text-shadow: 0 0 3px #151515;
        color: #999;
		font-size: 12px;
		line-height: 16px;
        padding: 7px 0 4px 10px;
        border-top: 1px solid #666;
        border-bottom: 1px solid #444;

		list-style: none;
		display: block;
        a {
            color: white;
        }
        img {
            border-radius: 5px;
            border: 1px solid #444;
            float: left;
            margin-top: 5px;
            width: 45px;
            height: 45px;
        }
        .title {
            float: left;
            margin-top: 5px;
            margin-left: 5px;
            width: 143px;
            line-height: 13px;
            a {
                color: white;
            }
        }
        .subTitle {
            color: #adadad;
            margin-left: 5px;
            line-height: 20px;
        }
	}
}

#profileHolder {
    background-color: #42403D;
    padding: 10px;
    #profileImage {
        border: 2px solid #666;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        float: left;
    }
    .name {
        margin: 3px 10px;
        float: left;
        h4 {
            margin: 0 0 2px 0;
            color: white;
            font-weight: normal;
            text-shadow: 0 0 1px #151515;
        }
        a {
            color: #D34F25;
            text-shadow: 0 0 1px #151515;
        }
    }

}